[init]
	defaultBranch = master
[user]
	email = parvesh.dhullmonu@gmail.com
	name = Parvesh Monu
	signingkey = F1479FE68F5F8DC2
[core]
	editor = vim
[commit]
	gpgsign = true
[trailer "sign"]
	key = Signed-off-by
[gpg]
	program = gpg2
[http]
	postBuffer = 157286400
